doctype html
html
  head
    title Error
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/stylesheets/error.css")
  body
    .container
      h1 Ops! 
      p #{message}
      a(href="/api/signin") â† Go back to Home
