html
  head
    title= title
    meta(charset="utf-8")
    // Loads the css i made for the file
    link(rel="stylesheet" href="/stylesheets/main.css")
  body
    .container 
      // Left side with the logo
      .left-side
        img.logo-box(src="/images/Peerly-Logo.png" alt="Peerly Logo")
      // Right side with the signup card
      .right-side
        .signup-card
          h1 Peerly
          h2 Sign up now
          // Login button redirects to /api/login
          a(href="/api/login")
            button.sign-google Login
          // "OR" separator
          p.or OR
          // Create Account button redirects to /api/register
          a(href="/api/register")
            button.create-account Create account